/* titles */
.hr{
    width: 60px;
    height: 6px;
    background-color: #FB8500;
    border: 1px solid transparent;
    font-weight: 900;
    margin: 10px auto;
}
.tradeWFC__container-title{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.tradeWFC__title{
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-transform: capitalize;
    color: #023047;
    text-align: center;
}


/* info tokenize */
.tradeWFC__block{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    gap: 130px 20px;
    grid-auto-rows: 500px;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    justify-content: space-evenly;
}

.tradeWFC__article{
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* left */
.tradeWFC__article:nth-child(1){
    justify-self: center;
}

.tradeWFC__bazar{
    width: 480px;
    height: auto;
    justify-self: center;
}

/* right */
.tradeWFC__container-texts{
    margin-bottom: 20px;
}
.tradeWFC__subtitle{
    font-weight: 800;
    margin-bottom: 3px;
    color: #023047;
}
.tradeWFC__text{
    list-style: disc;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #456878;
}
@media screen and (max-width: 1100px) {
    .tradeWFC__block{
        gap: 0px;
        height: 900px;
    }
    .tradeWFC__bazar{
        margin: auto;
    }
    .tradeWFC__article{
        width: auto;
        justify-self: center;
        text-align: center;
    }
    .tradeWFC__container-texts{
        width: 80%;
        margin:auto;
    }
}
@media screen and (max-width: 768px) {
    .tradeWFC__container-title{
        width: 90%;
    }
    .tradeWFC__block{
        width: 90vw;
        height: auto;
        margin: 0 auto;
        gap: 20px;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    }
    .tradeWFC__title{
        font-size: 36px;
        font-weight: 800;
    }
    .tradeWFC__bazar{
        width: 370px;
    }
}

@media screen and (max-width: 425px) {
    .tradeWFC__article{
        width: 270px;
    }
    .tradeWFC__bazar{
        width:280px;
    }
}
@media screen and (max-width: 320px) {
    .tradeWFC{
        margin: 100px 0;
    }
    .tradeWFC__block{
        min-width: 90vw;
    }
    .tradeWFC__article{
        width: 200px;
    }
    .tradeWFC__bazar{
        width:200px;
    }
}
@media screen and (max-width: 280px) {
    .tradeWFC__block{
        min-width: 70vw;
    }
    .tradeWFC__title{
        font-size: 28px;
        font-weight: 800;
    }
    .tradeWFC__bazar{
        width:160px;
    }
}

